
.animate-image
{
    animation: animtionImagae 2s infinite alternate-reverse;
    
}


@keyframes animtionImagae {

    0%
    {
       transform: translateY(10px);
    }

    100%
    {
       
        transform: translateY(-10px);
    }
    
}